---
import BaseLayout from "../../layout/BaseLayout.astro";
import AppHeader from "../../components/AppHeader.astro";
import Album from "../../icons/Album.astro";
import Card from "../../components/Card.astro";
import data from "../../data.json";
---

<BaseLayout title="Discografía">
    <section
        class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
    >
    <AppHeader title="Albums" >
        <div slot="icon">
          <Album clases="w-12 h-12"/>  
        </div>
    </AppHeader>
        <div class="m-auto p-6 max-w-xl">
            <div class="flex flex-col gap-4">
                {data.map((card) => <Card {...card} />)}
            </div>
        </div>
    </section>
</BaseLayout>
