---
import BaseLayout from "../layout/BaseLayout.astro";
import HeroSection from "../components/HeroSection.astro";
---

<BaseLayout title="Michael Jackson Fanpage">
    <main
        class="snap-y snap-mandatory w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
    >
        <div class="snap-center">
            <HeroSection />
        </div>
    </main>
</BaseLayout>
