---
import Section from "./Section.astro";
import Aleft from "../icons/arrow_left.astro";
import Aright from "../icons/arrow_right.astro";
import Close from "../icons/close.astro";
---

<Section id="inicio">
    <!--Utilizamos x-init para inicializar un watcher que escucha cambios en currentSlide y actualiza dinámicamente los src de las imágenes de fondo según el valor de currentSlide. -->
    <div
        slot="footer"
        class="relative h-screen w-full overflow-hidden flex items-center justify-center"
        x-data="{ currentSlide: 1 }"
        x-init="$watch('currentSlide', value => {
            if (value === 1) {
                document.getElementById('bg-image-model1').src = 'mjthemusical_marquee.jpg';
                document.getElementById('bg-image-model2').src = 'mj_one_cds.jpg';
            } else {
                document.getElementById('bg-image-model1').src = 'mj_one_cds.jpg';
                document.getElementById('bg-image-model2').src = 'mjthemusical_marquee.jpg';
            }
        })"
    >
        <!-- Botones de navegación -->
        <button
            id="prevBtn"
            @click="currentSlide = (currentSlide === 1) ? 2 : 1"
            class="absolute top-1/3 left-2 transform -translate-y-1/2 text-darkGray hover:text-lightGray p-2 focus:outline-none"
        >
            <Aleft clases="w-24 h-24" />
        </button>
        <button
            id="nextBtn"
            @click="currentSlide = (currentSlide === 1) ? 2 : 1"
            class="absolute top-1/3 right-2 transform -translate-y-1/2 text-darkGray hover:text-lightGray p-2 focus:outline-none"
        >
            <Aright clases="w-24 h-24" />
        </button>

        <!-- Slide 1 -->
        <div
            class="slide space-y-4 flex-none w-full flex flex-col items-center justify-center"
            id="slide1"
            x-show="currentSlide === 1"
        >
            <a  href="https://www.michaeljackson.com/mj-the-musical/"
                target="_blank"
                class="text-ironGray bg-gray-900 hover:text-ironGray border border-ironGray hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
            >
                Saber Más
            </a>
        </div>

        <!-- Slide 2 -->
        <div
            class="slide space-y-4 flex-none w-full flex flex-col items-center justify-center"
            id="slide2"
            x-show="currentSlide === 2"
        >
            <div class="flex space-x-4">
                <button
                    id="mostrarVideo"
                    class="text-ironGray bg-gray-900 hover:text-ironGray border border-ironGray hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                    >Ver Trailer</button
                >
                <a  href="#page-one"
                class="text-ironGray bg-gray-900 hover:text-ironGray border border-ironGray hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
            >
                Saber Más
            </a>
            </div>

            <div id="videoContainer" style="display:none;">
                <iframe
                    id="miVideo"
                    class="md:w-[640px;] md:h-[360px;]"
                    src="https://www.youtube.com/embed/H7tcKr6udJ8?autoplay=0"
                    frameborder="0"
                    allowfullscreen></iframe>
                <button id="cerrarVideo"><Close clases="w-6 h-6" /></button>
            </div>
        </div>
    </div>

    <img
        slot="background"
        alt="MJ Musical"
        class="h-full w-full object-cover object-center transition-opacity duration-1000 ease-in-out max-w-full"
        src="mjthemusical_marquee.jpg"
        id="bg-image-model1"
    />
    <img
        slot="background"
        alt="MJ One"
        class="h-full w-full object-cover object-center transition-opacity duration-1000 ease-in-out opacity-0 max-w-full"
        src="mj_one_cds.jpg"
        id="bg-image-model2"
    />
</Section>
<style>
    #videoContainer {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 20px;
        text-align: center;
    }
    #cerrarVideo {
        position: absolute;
        top: 0px;
        right: 5px;
        padding: 10px;
        background-color: gray;
        border-radius: 50%;
        border: none;
        color: #fff;
        cursor: pointer;
    }
    
</style>
<script>
    var mostrarVideoBtn = document.getElementById("mostrarVideo");
    var videoContainer = document.getElementById("videoContainer");
    var cerrarVideoBtn = document.getElementById("cerrarVideo");
    var miVideo = document.getElementById("miVideo");

    mostrarVideoBtn.addEventListener("click", function () {
        videoContainer.style.display = "block";
    });

    cerrarVideoBtn.addEventListener("click", function () {
        videoContainer.style.display = "none";
        miVideo.src = miVideo.src; // Reiniciar el video
    });

    videoContainer.addEventListener("click", function (e) {
        if (e.target === videoContainer) {
            videoContainer.style.display = "none";
            miVideo.src = miVideo.src; // Reiniciar el video
        }
    });
</script>
