---
import Section from "./Section.astro";
import Aleft from "../icons/arrow_left.astro";
import Aright from "../icons/arrow_right.astro";
---

<Section>
    <div
        slot="footer"
        class="relative h-screen w-full overflow-hidden flex items-center justify-center"
        id="slider">
        
        <!-- Botones de navegación -->
        <button
            id="prevBtn"
            class="absolute top-1/3 left-2 transform -translate-y-1/2 text-darkGray hover:text-lightGray p-2 focus:outline-none"
        >
            <Aleft clases="w-24 h-24" />
        </button>
        <button
            id="nextBtn"
            class="absolute top-1/3 right-2 transform -translate-y-1/2 text-darkGray hover:text-lightGray p-2 focus:outline-none"
        >
            <Aright clases="w-24 h-24" />
        </button>

        <!-- Slide 1 -->
        <div
            class="slide space-y-4 flex-none w-full flex flex-col items-center justify-center"
            id="slide1"
        >
            <button
                type="button"
                class="text-ironGray bg-gray-900 hover:text-ironGray border border-ironGray hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                >Saber Más</button
            >
        </div>
        <!-- Slide 2 -->
        <div
            class="slide space-y-4 flex-none w-full flex flex-col items-center justify-center hidden"
            id="slide2"
        >
            <div class="flex space-x-4">
                <button
                    type="button"
                    class="text-ironGray bg-gray-900 hover:text-ironGray border border-ironGray hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                    >Ver Trailer</button
                >

                <button
                    type="button"
                    class="text-ironGray bg-gray-900 hover:text-ironGray border border-ironGray hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                    ">Saber Más</button
                >
            </div>
        </div>
    </div>

    <img
        slot="background"
        alt="MJ Musical"
        class="h-full w-full object-cover object-center transition-opacity duration-1000 ease-in-out max-w-full"
        src="mjthemusical_marquee.jpg"
        id="bg-image-model1"
    />
    <img
        slot="background"
        alt="MJ One"
        class="h-full w-full object-cover object-center transition-opacity duration-1000 ease-in-out opacity-0 max-w-full"
        src="mj_one_cds.jpg"
        id="bg-image-model2"
    />
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const slide1 = document.querySelector("#slide1");
            const slide2 = document.querySelector("#slide2");
            const bgImage1 = document.querySelector(
                "#bg-image-model1",
            ) as HTMLImageElement;
            const bgImage2 = document.querySelector(
                "#bg-image-model2",
            ) as HTMLImageElement;
            const prevBtn = document.querySelector("#prevBtn");
            const nextBtn = document.querySelector("#nextBtn");

            let currentSlide = 1;

            const changeSlide = () => {
                if (currentSlide === 1) {
                    slide1.classList.add("hidden");
                    slide2.classList.remove("hidden");
                    bgImage1.src = "mj_one_cds.jpg";
                    bgImage2.src = "mjthemusical_marquee.jpg";
                    currentSlide = 2;
                } else {
                    slide1.classList.remove("hidden");
                    slide2.classList.add("hidden");
                    bgImage1.src = "mjthemusical_marquee.jpg";
                    bgImage2.src = "mj_one_cds.jpg";
                    currentSlide = 1;
                }
            };

            // Cambiar slide automáticamente
            setInterval(() => {
                changeSlide();
            }, 5000); // Cambiar cada 5 segundos

            // Función para cambiar al slide anterior
            prevBtn.addEventListener("click", () => {
                changeSlide();
            });

            // Función para cambiar al siguiente slide
            nextBtn.addEventListener("click", () => {
                changeSlide();
            });
        });
    </script>
</Section>
