---
import Section from "./Section.astro";
import Aleft from "../icons/arrow_left.astro";
import Aright from "../icons/arrow_right.astro";
---

<Section id="inicio">
    <!-- Utilizamos x-init para inicializar un watcher que escucha cambios en currentSlide y actualiza dinámicamente los src de las imágenes de fondo según el valor de currentSlide. -->
    <div
        slot="footer"
        class="relative h-screen w-full overflow-hidden flex items-center justify-center"
        x-data="{ currentSlide: 1 }"
        x-init="$watch('currentSlide', value => {
            if (value === 1) {
                document.getElementById('bg-image-model1').src = 'mjthemusical_marquee.jpg';
                document.getElementById('bg-image-model2').src = 'mj_one_cds.jpg';
            } else {
                document.getElementById('bg-image-model1').src = 'mj_one_cds.jpg';
                document.getElementById('bg-image-model2').src = 'mjthemusical_marquee.jpg';
            }
        })"
        x-on:DOMContentLoaded.window="currentSlide = 1"
    >
        <!-- Botones de navegación -->
        <button
            id="prevBtn"
            @click="currentSlide = (currentSlide === 1) ? 2 : 1"
            class="absolute top-1/3 left-2 transform -translate-y-1/2 text-darkGray hover:text-lightGray p-2 focus:outline-none"
        >
            <Aleft clases="w-24 h-24" />
        </button>
        <button
            id="nextBtn"
            @click="currentSlide = (currentSlide === 1) ? 2 : 1"
            class="absolute top-1/3 right-2 transform -translate-y-1/2 text-darkGray hover:text-lightGray p-2 focus:outline-none"
        >
            <Aright clases="w-24 h-24" />
        </button>

        <!-- Slide 1 -->
        <div
            class="slide space-y-4 flex-none w-full flex flex-col items-center justify-center"
            id="slide1"
            x-show="currentSlide === 1"
        >
            <button
                type="button"
                class="text-ironGray bg-gray-900 hover:text-ironGray border border-ironGray hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
            >
                Saber Más
            </button>
        </div>

        <!-- Slide 2 -->
        <div
            class="slide space-y-4 flex-none w-full flex flex-col items-center justify-center"
            id="slide2"
            x-show="currentSlide === 2"
        >
            <!-- Modal -->
            <div x-data="{ isOpen: false }">
                <div
                    x-show="isOpen"
                    @click.away="isOpen = false"
                    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center"
                >
                    <div class="bg-white rounded-lg p-1">
                        <!-- Contenido del modal -->
                        <iframe
                            width="560"
                            height="315"
                            src="https://www.youtube.com/embed/H7tcKr6udJ8?si=wWKz4Ahhn6Xguo3B"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin"
                            allowfullscreen></iframe>
                        <button
                            @click="isOpen = false"
                            class="text-ironGray bg-gray-900 hover:text-ironGray border border-ironGray hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mt-4"
                            >Cerrar</button
                        >
                    </div>
                </div>

                <!-- Botones -->
                <div class="flex space-x-4">
                    <button
                        @click="isOpen = true"
                        type="button"
                        class="text-ironGray bg-gray-900 hover:text-ironGray border border-ironGray hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                        >Ver Trailer</button
                    >

                    <button
                        @click="isOpen = true"
                        type="button"
                        class="text-ironGray bg-gray-900 hover:text-ironGray border border-ironGray hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                        >Saber Más</button
                    >
                </div>
            </div>
        </div>
    </div>
    <!-- Imagenes Background de cada slide -->
    <img
        slot="background"
        alt="MJ Musical"
        class="h-full w-full object-cover object-center transition-opacity duration-1000 ease-in-out max-w-full"
        src="mjthemusical_marquee.jpg"
        id="bg-image-model1"
    />
    <img
        slot="background"
        alt="MJ One"
        class="h-full w-full object-cover object-center transition-opacity duration-1000 ease-in-out opacity-0 max-w-full"
        src="mj_one_cds.jpg"
        id="bg-image-model2"
    />
</Section>
