---
import Menu from "../icons/menu.astro";
---

<div class="w-full">
  <div
    x-data="{ open: false }"
    class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8"
    id="landing-header"
  >
    <div class="p-4 flex flex-row items-center justify-between">
      <a
        href="/"
        class="text-lg font-semibold tracking-widest uppercase rounded-lg focus:outline-none focus:shadow-outline"
        >Michael Jackson</a
      >
      <button
        class="md:hidden rounded-lg focus:outline-none focus:shadow-outline"
        @click="open = !open"
      >
        <Menu clases="w-6 h-6" />
      </button>
    </div>
    <nav
      :class="{'flex': open, 'hidden': !open}"
      class="flex-col flex-grow pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row"
    >
      <ul class="flex flex-col md:flex-row text-sm  font-bold">
        <li><a href="#inicio" class="block px-4 py-2 uppercase">Inicio</a></li>
        <li><a href="/acercade/" class="block px-4 py-2 uppercase">Acerca de</a></li>
        <li><a href="/discografia/" class="block px-4 py-2 uppercase">Discografía</a></li>
        <li><a href="/filmografia/" class="block px-4 py-2 uppercase">Filmografía</a></li>
      </ul>
    </nav>
    <div
      id="menu-backdrop"
      class={`
      absolute bg-black/5 backdrop-blur-lg rounded
      translate-x-[var(--left)] translate-y-[var(--top)]
      left-0 top-0
      w-[var(--width)] h-[var(--height)]
      transition-all duration-500
      ease-in-out opacity-0 -z-10
    `}
    >
    </div>
  </div>
</div>
<script>
  const listItem = document.querySelectorAll("#landing-header li");
  const menuBackDrop = document.querySelector("#menu-backdrop") as HTMLElement;

  listItem.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const { left, top, width, height } = item.getBoundingClientRect();

      menuBackDrop.style.setProperty("--left", `${left}px`);
      menuBackDrop.style.setProperty("--top", `${top}px`);
      menuBackDrop.style.setProperty("--width", `${width}px`);
      menuBackDrop.style.setProperty("--height", `${height}px`);

      menuBackDrop.style.opacity = "1";
      menuBackDrop.style.visibility = "visible";
    });

    item.addEventListener("mouseleave", () => {
      menuBackDrop.style.opacity = "0";
      menuBackDrop.style.visibility = "hidden";
    });
  });
</script>
