---
interface Props {
    clases: string;
}
const {clases}=Astro.props
---
<a
    href="/"
    class={clases}
    >
    Michael Jackson
</a>
<style>
    @font-face {
        font-family: "custom";
        src: url("/src/fonts/RammettoOne-Regular.ttf") format("truetype");
    }

    .font-custom {
        font-family: "custom", sans-serif;
    }
</style>