<a
    href="/"
    class="rounded-lg focus:outline-none focus:shadow-outline"
    >
    <!-- MICHAEL JACKSON -->
    <img src="/src/images/general/fontbolt.png" class="w-64" alt="Logo MJ FanPage">
</a>
