---
import LinksContainer from "./Links.astro";
---
<nav transition:animate="none" class="w-full sm:px-2 py-1 bg-ironGray flex gap-2 items-center justify-end sticky top-0 z-50">
    <LinksContainer/>
</nav>