---
import Menu from "../icons/menu.astro";
import LinksHeader from "./LinksHeader.astro";
import Logo from "./Logo.astro";
const url = Astro.url.pathname;
---


  <div class="fixed top-0 w-full z-50">
    <div
      x-data="{ open: false }"
      class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8"
      id="landing-header"
    >
      <div class="p-4 flex flex-row items-center justify-between">
        {
          url === "/" && (
            <>
              <Logo clases="text-xl font-custom tracking-widest uppercase text-neutral-100" />
            </>
          )
        }
        {
          url === "/acercade/" && (
            <>
              <Logo clases="text-xl font-custom tracking-widest uppercase text-neutral-100" />
            </>
          )
        }
        {
          url === "/discografia/" && (
            <>
              <Logo clases="text-xl font-custom tracking-widest uppercase text-slate-800" />
            </>
          )
        }
        {
          url === "/filmografia/" && (
            <>
              <Logo clases="text-xl font-custom tracking-widest uppercase text-slate-800" />
            </>
          )
        }
        
        <button
          class="md:hidden rounded-lg focus:outline-none focus:shadow-outline"
          @click="open = !open"
        >
          <Menu clases="w-6 h-6" />
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col flex-grow pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row"
      >
        <ul class="flex flex-col md:flex-row text-sm font-bold">
          {
            url === "/" && (
              <>
                <LinksHeader clases="block px-4 py-2 uppercase text-neutral-100" href="/acercade/" title="Acerca de" />
                <LinksHeader clases="block px-4 py-2 uppercase text-neutral-100" href="/discografia/" title="Discografía" />
                <LinksHeader clases="block px-4 py-2 uppercase text-neutral-100" href="/filmografia/" title="Filmografía" />
              </>
            )
          }
          {
            url === "/acercade/" && (
              <>
                <LinksHeader clases="block px-4 py-2 uppercase text-neutral-100" href="/" title="Inicio"/>
                <LinksHeader clases="block px-4 py-2 uppercase text-neutral-100" href="/discografia/" title="Discografía" />
                <LinksHeader clases="block px-4 py-2 uppercase text-neutral-100" href="/filmografia/" title="Filmografía" />
              </>
            )
          }
          {
            url === "/discografia/" && (
              <>
                <LinksHeader clases="block px-4 py-2 uppercase text-slate-800" href="/" title="Inicio" />
                <LinksHeader clases="block px-4 py-2 uppercase text-slate-800" href="/acercade/" title="Acerca de" />
                <LinksHeader clases="block px-4 py-2 uppercase text-slate-800" href="/filmografia/" title="Filmografía" />
              </>
            )
          }
          {
            url === "/filmografia/" && (
              <>
                <LinksHeader clases="block px-4 py-2 uppercase text-slate-800" href="/" title="Inicio" />
                <LinksHeader clases="block px-4 py-2 uppercase text-slate-800" href="/acercade/" title="Acerca de" />
                <LinksHeader clases="block px-4 py-2 uppercase text-slate-800" href="/discografia/" title="Discografía" />
              </>
            )
          }
        </ul>
      </nav>
      <div
        id="menu-backdrop"
        class={`
        absolute bg-black/5 backdrop-blur-lg rounded
        translate-x-[var(--left)] translate-y-[var(--top)]
        left-0 top-0
        w-[var(--width)] h-[var(--height)]
        transition-all duration-500
        ease-in-out opacity-0 -z-10
      `}
      >
      </div>
    </div>
  </div>
<script>
  import "../scripts/headereffect.js";
</script>
