---
import LinksContainer from "./Links.astro";
---
<nav transition:animate="none" class="py-3 sm:px-10 flex items-center fixed top-0 w-full justify-between z-40 text-ironGray">
    <LinksContainer/>
</nav>